VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=biblialm-ab748.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=biblialm-ab748
VITE_FIREBASE_STORAGE_BUCKET=biblialm-ab748.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=...
VITE_FIREBASE_APP_ID=1:...

# Chave da Google GenAI (Gemini)
VITE_API_KEY=AIzaSy...
